.main {
  position: relative;

  width: 500px;

  background: var(--black);
  box-shadow: 0 0 5px rgba(15, 26, 11, 0.34);

  padding: 25px;

  color: var(--white);

  border-radius: var(--border-radius);

  @media screen and (max-width: 550px) {
    width: 400px;
  }

  @media screen and (max-width: 430px) {
    width: 100%;
  }

  input {
    color: var(--white);
    border-bottom: 2px solid var(--white);
    font-size: 18px;
    width: 100%;
  }

  .icons {
    position: absolute;
    right: 20px;
    top: 20px;

    display: flex;
    gap: 15px;

    .icon {
      color: var(--green);
      cursor: pointer;
      font-size: 25px;
    }
  }
}